In [1]:
import pandas as pd

In [8]:
vm_skus = pd.read_csv('./azurevmskus.csv')
vm_skus

,skutype,skuname,corecount,ram,cpumaxcores,cputdp,memtdp,gpucount,gputdp
0,generalpurpose,Standard_DC1s_v2,1,4.0,8,95,0,0.000,0
1,generalpurpose,Standard_DC2s_v2,2,8.0,8,95,0,0.000,0
2,generalpurpose,Standard_DC4s_v2,4,16.0,8,95,0,0.000,0
3,generalpurpose,Standard_DC8_v2,8,32.0,8,95,0,0.000,0
4,generalpurpose,Standard_D1_v2,1,3.5,26,195,0,0.000,0
...,...,...,...,...,...,...,...,...,...
88,gpuacceleratedcompute,Standard_NC24sr_v3,24,448.0,14,135,0,4.000,250
89,gpuacceleratedcompute,Standard_NV4as_v4,4,14.0,64,240,0,0.125,300
90,gpuacceleratedcompute,Standard_NV8as_v4,8,28.0,64,240,0,0.250,300
91,gpuacceleratedcompute,Standard_NV16as_v4,16,56.0,64,240,0,0.500,300
92,gpuacceleratedcompute,Standard_NV32as_v4,32,112.0,64,240,0,1.000,300

In [9]:
vm_skus['memtdp'] = vm_skus['ram']/8 * 3

In [12]:
vm_skus['cputotaltdp'] = vm_skus['corecount']/vm_skus['cpumaxcores'] * vm_skus['cputdp']

In [15]:
vm_skus['gputotaltdp'] = vm_skus['gpucount'] * vm_skus['gputdp']

In [17]:
vm_skus['totaltdp'] = vm_skus['memtdp'] + vm_skus['cputotaltdp'] + vm_skus['gputotaltdp']

In [19]:
vm_skus

,skutype,skuname,corecount,ram,cpumaxcores,cputdp,memtdp,gpucount,gputdp,cputotaltdp,gputotaltdp,totaltdp
0,generalpurpose,Standard_DC1s_v2,1,4.0,8,95,1.5000,0.000,0,11.875000,0.0,13.375000
1,generalpurpose,Standard_DC2s_v2,2,8.0,8,95,3.0000,0.000,0,23.750000,0.0,26.750000
2,generalpurpose,Standard_DC4s_v2,4,16.0,8,95,6.0000,0.000,0,47.500000,0.0,53.500000
3,generalpurpose,Standard_DC8_v2,8,32.0,8,95,12.0000,0.000,0,95.000000,0.0,107.000000
4,generalpurpose,Standard_D1_v2,1,3.5,26,195,1.3125,0.000,0,7.500000,0.0,8.812500
...,...,...,...,...,...,...,...,...,...,...,...,...
88,gpuacceleratedcompute,Standard_NC24sr_v3,24,448.0,14,135,168.0000,4.000,250,231.428571,1000.0,1399.428571
89,gpuacceleratedcompute,Standard_NV4as_v4,4,14.0,64,240,5.2500,0.125,300,15.000000,37.5,57.750000
90,gpuacceleratedcompute,Standard_NV8as_v4,8,28.0,64,240,10.5000,0.250,300,30.000000,75.0,115.500000
91,gpuacceleratedcompute,Standard_NV16as_v4,16,56.0,64,240,21.0000,0.500,300,60.000000,150.0,231.000000
92,gpuacceleratedcompute,Standard_NV32as_v4,32,112.0,64,240,42.0000,1.000,300,120.000000,300.0,462.000000

In [20]:
vm_skus.to_csv('azurevmskus_withtdp.csv')